.menu {
  display: flex;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link--current {
  color: var(--first-accent-color);

  @media screen and (min-width: 768px) {
    &::after {
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -33px;
      display: block;
      background-color: var(--first-accent-color);
      border-radius: 2px;
    }
  }
}
