.subscribe__icon {
  margin-left: 10px;
  fill: var(--second-accent-color);
}

.subscribe__btn {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 28px;
  padding-right: 29px;
}

.subscribe__text {
  @extend %join-subscribe-text;

  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.subscribe__form {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscribe__input {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @include font(16px, 1.25);
  color: var(--footer-contacts-color);
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 50px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__input:-webkit-autofill,
.subscribe__input:-webkit-autofill:hover,
.subscribe__input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--footer-contacts-color);
  box-shadow: 0 0 0px 1000px var(--hero-footer-color) inset;
}
