:root {
  --primary-text-color: #757575;
  --first-accent-color: #2196f3;
  --overlay-cl: rgba(33, 150, 243, 0.9);
  --title-color: #212121;
  --second-accent-color: #ffffff;
  --logo-color: #000;

  --hero-footer-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --team-bcg-color: #f5f4fa;
  --header-border-color: #ececec;
  --list-border-color: #eeeeee;
  --icon-cl: #afb1b8;
  --join-link-cl: rgba(255, 255, 255, 0.1);
  --work-bg-cl: rgba(47, 48, 58, 0.8);

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --backdrop-cl: rgba(0, 0, 0, 0.2);
}
