.clients {
  display: flex;
}

.clients__item {
  flex-basis: calc((100% - 2 * 30px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  @extend %flex;

  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-cl);
  border-radius: 4px;
  color: var(--icon-cl);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--first-accent-color);
    color: var(--first-accent-color);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
