.feature__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.feature__item {
  flex-basis: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.feature__thumb {
  @extend %flex;

  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 30px;
  width: 100%;
  height: auto;
  background-color: var(--team-bcg-color);
  border-radius: 4px;

  @media screen and(min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}

.feature__icon {
  width: 70px;
  height: 70px;
}
