.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-box {
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__address-section {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.address-join-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
